.logo {
    text-transform:uppercase;
    font-weight:700;
    font-size:18px;
    line-height:1.16;
    letter-spacing:0.03em;
    color:#2e2f42;
}
.logo-text {
    color:#4d5ae5;
}
.menu {
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.02em;
    color: #2e2f42;
}
.menu:hover, .menu:focus {
    color:#404bbf;
}
.contacts {
    font-style:normal;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#2e2f42;
}
.contacts:hover,.contacts:focus {
    color:#404bbf;
}
.hero {
    background-color:#2e2f42;
}
h1 {
    font-size:56px;
    line-height:1.07;
    letter-spacing:0.02em;
    text-align:center;
    color:#ffffff;
}
.button {
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    cursor:pointer;
    color:#ffffff;
    background-color:#4d5ae5;
}
.button:hover {
    background-color:#404bbf;
}
body {
    font-family: "Roboto", "Raleway", sans-serif;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
}
a {
    text-decoration:none;
}
h2 {
    font-size:36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-align:center;
    color:#2e2f42;
}
h3 {
    font-size:20px;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
}
p {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
}
ul { 
    list-style-type:none;
}
.team {
    background-color:#f4f4fd;
}
.team-border {
        width:264px;
        height:380px; 
        border:1px solid #ffffff;
        box-shadow:0px 2px 1px #2e2f42;
        background-color:#ffffff;
    }
.port-border {
        width:360px;
        height:420px;
        border:1px solid #e7e9fc;
        background-color: #e7e9fc;
    }
footer {
    background-color:#2e2f42;
}
footer .logo-text-1 {
    color:#f4f4fd;
}
footer>p {
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:#f4f4fd;
    } 